/* ------------------------------- Algemene styling ------------------------------- */


*, html{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

:root{
  --blue:#64c3ff;
  --main-color: white;
  --background-highlight:#eeeeee;
  --text-color:black;
  --gradient-blue:linear-gradient(rgb(32, 72, 104), rgb(4, 37, 80));
  --secondary-color: #081D4D;
}

body{
  max-width: 1300px;
  margin: auto;
}


/* ------------------------------- Styling voor HEADER ------------------------------- */


header {
  background-image: url("../images/header1.png"); /* --bron afbeelding: https://superlease.nl/app/uploads/2021/07/slad-3911750a.jpg -- */
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 35em;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em 0.5em 1em;
  border-style: none none solid none;
  border-color: var(--main-color);
}

header nav button{
  display: none;
  background-color: unset;
  border: none;
  border-radius: unset;
  padding: 0;
  margin: 0;
  width: auto;
  cursor: pointer;
  text-align: unset;
  font-size: unset;
}

header nav button img{
  width: 3em;
}

header nav ul{
  display: flex;
  list-style: none;
  gap: 1.5em;
  align-self: center;
}

header nav a img{
  width: 3em;
}

header nav ul li a{
  color: var(--main-color);
  text-decoration: none;
}

header nav ul li:hover{
  text-decoration: underline;
  transform: scale(1.1);
  transition: 1s;
}
 
@media screen and (max-width: 1024px) {
  header nav ul {
    display: none;
  }

  header nav button{
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  header div{
    display: none;
  }
}

header div{
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 50%;
  display: none;
}

header div.toonMenu{
  display: unset;
}

header div button{
  background-color: unset;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: auto;
  text-align: unset;
  font-size: unset;
  padding: 0.5em 1em 0.5em 1em;
}

header div button img{
  width: 3em;
}

header div ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  background-color: var(--background-highlight);
}

header div ul li a{
  font-size: 1.2em;
  background-color: var(--main-color);
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  color: var(--secondary-color);
  text-decoration: none;
}

header div ul li a:hover{
  background-color: var(--background-highlight);
  text-decoration: underline;
  transition: 1s;
}

header div ul li a:focus{
  background-color: var(--background-highlight);
}

header h1{
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding: 1em 1em 0.5em 1em;
  text-align: center;
}

header button:last-child{
  background-color:var(--blue);
  border: 0.2em solid;
  border-color:var(--blue);
  color:var(--text-color);
  padding: 0.6em;
  text-align: center;
  font-size: 1em;
  display: block;
  border-radius: 2em;
  margin-right: auto;
  margin-left: auto;
}
  
header button:last-child:hover{
  background-color: var(--main-color);
  color: var(--blue);
  border: 0.2em solid;
  border-color: var(--blue);
  transition: 1s;
  transform: scale(1.1);
}

header button:last-child:focus{
  background-color: var(--main-color);
  color: var(--blue);
  border: 0.2em solid;
  border-color: var(--blue);
  transform: scale(1.1);
}


/* ------------------------------- Styling voor MAIN > SECTION 1 (Hulp dropdown) ------------------------------- */


main section:nth-of-type(1){
  background-image: var(--gradient-blue);
  color: var(--main-color);
  height: 20em;

  display: flex;
  justify-content: center;
  text-align: center;
}

main section:nth-of-type(1) div{
  align-self: center;
  position: relative;
}

main section:nth-of-type(1) div h2{
  font-size: 1.5em;
}

main section:nth-of-type(1) div p{
  display: inline-flex;
  font-size: 1.5em;
  font-weight: lighter;
  position: relative;
}

main section:nth-of-type(1) div button{
  background-color: unset;
  border-style: none none solid none;
  border-color: var(--main-color);
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: lighter;
  cursor: pointer;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

main section:nth-of-type(1) div button:focus{
  color: var(--blue);
}

main section:nth-of-type(1) div button:hover{
  color: var(--blue);
  transition: 1s;
}

main section:nth-of-type(1) div ul{
  text-align: start;
  background-image: var(--gradient-blue);
  list-style: none;
  visibility: hidden;
  border-color: var(--main-color);
  border-style: solid;
  border-width: 0.15em;
  position: absolute;
  right: 0;
  left: 0;
}

main section:nth-of-type(1) div ul.dropdown{
  visibility: visible;
}

main section:nth-of-type(1) div ul li{
  padding: 0.5em;
}

main section:nth-of-type(1) div ul li:hover{
  background-color: var(--blue);
}

main section:nth-of-type(1) div ul li a:focus{
  background-color: var(--blue);
}

main section:nth-of-type(1) div ul li a{
  color: var(--main-color);
  text-decoration: none;
}


/* ------------------------------- Styling voor MAIN > SECTION 2 (Mini nav met icons) ------------------------------- */

main section:nth-of-type(2){
  padding: 2em 1em 2em 1em;
}

main section:nth-of-type(2) h3{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 1em 0em 1em 0em;
}

main section:nth-of-type(2) ul{
  display: flex;
  list-style: none;
  background-color: var(--background-highlight);
  gap: 0.15em;
  flex-wrap: wrap;
}

main section:nth-of-type(2) ul li{
  background-color: var(--main-color);
  text-align: center;
  padding: 1em;
  flex-basis: 45%;
  flex-grow: 1;
}

main section:nth-of-type(2) ul li:hover{
  background-color: var(--background-highlight);
}

main section:nth-of-type(2) ul li a:focus{
  background-color: var(--background-highlight);
}

@media screen and (min-width: 1024px) {
  main section:nth-of-type(2) ul li{
    flex-basis: 0;
  }

  main section:nth-of-type(2){
    padding-left: 7vw;
    padding-right: 7vw;
  }  
}

main section:nth-of-type(2) ul li a{
  color: var(--secondary-color);
  display: block;
}

main section:nth-of-type(2) ul li a i{
  font-size: 4em;
  margin-bottom: 0.2em;
}

main section:nth-of-type(2) ul li a p{
  font-size: 1.2em;
}


/* ------------------------------- Styling voor MAIN > SECTION 3 (Banners) ------------------------------- */


main section:nth-of-type(3){
  padding: 2em 1em 2em 1em;
}

main section:nth-of-type(3) ul{
  display: flex;
  list-style: none;
  gap: 1em;
  flex-wrap: wrap;
}

main section:nth-of-type(3) ul li{
  height: 20em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  color: var(--main-color);
  position: relative;
  padding: 1em;
}

main section:nth-of-type(3) li:nth-of-type(1){
  background-image: url("../images/homefoto1.png"); /* --bron afbeelding: https://www.volkswagen.nl/-/media/vwpkw/images/winter/winter-2021/wintercheck_2021_adaptive.ashx -- */
  flex-grow: 1;
  flex-basis: 100%;
}

main section:nth-of-type(3) li:nth-of-type(2){
  background-image: url("../images/homefoto2.png"); /* --bron afbeelding: https://s3.eu-central-1.amazonaws.com/pondealer-nl/content/content_items/57051/1280x/Volkswagen_Taigo_-_MP_-_1.jpg  -- */
  flex-grow: 1;
  flex-basis: 45%;
  height: 15em;
}

main section:nth-of-type(3) li:nth-of-type(3){
  background-image: url("../images/homefoto3.png"); /* --bron afbeelding: https://content.presspage.com/uploads/1449/1920_volkswagenbedrijfswagensline-up1-514583.jpg?10000 -- */
  flex-grow: 1;
  flex-basis: 45%;
  height: 15em;
}

main section:nth-of-type(3) li:nth-of-type(4){
  background-image: url("../images/homefoto4.png"); /* --bron afbeelding: https://assets.volkswagen.com/is/image/volkswagenag/POR4688_VW-Polo-UNITED-R-Line-Exterieur-front-in-front-of-concrete-wall_16-9_f-cc?Zml0PWNyb3AsMSZmbXQ9anBnJnFsdD03OSZ3aWQ9ODAwJmhlaT00NTAmYWxpZ249MC4wMCwwLjAwJmJmYz1vZmYmNjYwMA== -- */
  flex-grow: 1;
  flex-basis: 100%;
}

main section:nth-of-type(3) ul li h3{
  font-weight: bold;
  font-size: 1.5em;
}

main section:nth-of-type(3) ul li h4{
  font-weight: normal;
}


main section:nth-of-type(3) ul li a{
  color: var(--main-color);
  text-decoration: none;
  position: absolute;
  bottom: 1em;
  text-decoration: underline;
}

main section:nth-of-type(3) ul li a:hover{
  text-decoration: none;
  transform: scale(1.1);
  transition: 1s;
}

main section:nth-of-type(3) ul li a:focus{
  text-decoration: none;
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  main section:nth-of-type(3) li:nth-of-type(1){
    flex-grow: 1;
    flex-basis: 45%;
  }
  
  main section:nth-of-type(3) li:nth-of-type(2){
    flex-grow: 1;
    flex-basis: 45%;
    height: 20em;
  }
  
  main section:nth-of-type(3) li:nth-of-type(3){
    flex-grow: 1;
    flex-basis: 45%;
    height: 20em;
  }

  main section:nth-of-type(3) li:nth-of-type(4){
    flex-grow: 1;
    flex-basis: 45%;
    height: 20em;
  }

  main section:nth-of-type(3){
    padding-left: 7vw;
    padding-right: 7vw;
  }
}


/* ------------------------------- Styling voor Footer ------------------------------- */


footer{
  background-color: var(--background-highlight);
  display: flex;
  gap: 2em;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

footer ul a{
  text-decoration: none;
  color: var(--text-color);
}

footer ul li:hover{
  transform: scale(1.1);
  transition: 1s;
  text-decoration: underline;
}

footer p{
  font-size: 1em;
  font-weight: 500;
  color: grey;
}

@media screen and (min-width: 1024px) {
  footer{
    padding-right: 7vw;
    padding-left: 7vw;
  }
}

@media screen and (max-width: 1024px) {
  footer{
    justify-content: center;
  }

  footer p{
    flex-basis: 100%;
    text-align: center;
  }

  footer ul{
    justify-content: center;
    gap: 1em;
  }
}



/* ------------------------------- Styling voor PAGINA 2 ------------------------------- */
/* ------------------------------- Styling voor PAGINA 2 ------------------------------- */
/* ------------------------------- Styling voor PAGINA 2 ------------------------------- */
/* ------------------------------- Styling voor PAGINA 2 ------------------------------- */



/* ------------------------------- Styling voor Header ------------------------------- */


.pagina2 header{
  background-image: url("../images/header2image.png"); /* --bron afbeelding: https://uploads.volkswagen-newsroom.com/system/production/media/30104/images/eecc50bb04c844d553a49bd68f7b1392fc6d2f70/DB2019AU01094_x750.jpg?1581003902  -- */
}

.pagina2 header h2{
  color: var(--main-color);
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  padding: 0em 1em 1em 1em;
}


/* ------------------------------- Styling voor MAIN > SECTION 1 (info tekst) ------------------------------- */


.pagina2 main section:nth-of-type(1){
  background-color: var(--main-color);
  background-image: none;
  color: var(--text-color);
  height: auto;

  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
  justify-content: unset;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em 1em 2em 1em;
}

.pagina2 main section article{
  flex-grow: 1;
  flex-basis: 48%;
}

.pagina2 main section article ul{
  list-style: circle;
  list-style-position: inside;
  font-size: 1.2em;
}

.pagina2 main section article p{
  font-size: 1.2em;
}

.pagina2 main section article h2{
  font-weight: lighter;
  padding: 0em 0em 1em 0em;
  font-size: 2em;
}

@media screen and (min-width: 1024px) {
  .pagina2 main section:nth-of-type(1){
    padding-left: 7vw;
    padding-right: 7vw;
  }
}


/* ------------------------------- Styling voor MAIN > SECTION 2 (navigatie met icons) ------------------------------- */


.pagina2 main section:nth-of-type(2){
  background-color: var(--background-highlight);
  padding: 2em 1em 2em 1em;
}

.pagina2 main section:nth-of-type(2) h2{
  text-align: center;
  font-weight: lighter;
  padding-bottom: 1em;
}

.pagina2 main section:nth-of-type(2) ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2em;
  flex-wrap: wrap;
}

.pagina2 main section:nth-of-type(2) ul li{
  font-size: 1.2em;
  height: auto;
  color: var(--text-color);
  border: none;
  border-style: none none none none;
  border-width: unset;
  background-color: unset;
  background-color: var(--main-color);

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: unset;
  padding: 1em;

  flex-grow: 1;
  min-width: 15em;
}

.pagina2 main section:nth-of-type(2) h3{
  padding: 0.5em 0em 0.5em 0em;
  font-size: 2em;
  font-weight: normal;
}

.pagina2 main section:nth-of-type(2) ul li a{
  color: var(--text-color);
  text-decoration: none;
  padding: 0.2em;
  font-weight: lighter;
}

.pagina2 main section:nth-of-type(2) ul li a:hover{
  transition: 1s;
  transform: scale(1.1);
  text-decoration: underline;
}

.pagina2 main section:nth-of-type(2) ul li a:focus{
  transform: scale(1.1);
  background-color: unset;
  text-decoration: underline;
}

.pagina2 main section:nth-of-type(2) ul li i{
  color:var(--secondary-color);
  font-size: 4em;
}

@media screen and (min-width: 1024px) {
  .pagina2 main section:nth-of-type(2){
    padding-left: 7vw;
    padding-right: 7vw;
  }
}


/* ------------------------------- Styling voor MAIN > SECTION 3 (achtergrond met tekstblok) ------------------------------- */


.pagina2 main section:nth-of-type(3){
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 1em;
  height: 20em;
  background-image: url("../images/waytozero.png"); /* --bron afbeelding: https://www.volkswagen.nl/-/media/vwpkw/images/elektrisch-rijden/way-to-zero/motorway.ashx  -- */
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.pagina2 main section:nth-of-type(3) article{
  background-color:var(--background-highlight);
  padding: 1em;
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 0;
}


.pagina2 main section:nth-of-type(3) article h2{
  font-weight: bold;
  padding: 0em 0em 0.5em 0em;
  margin: 0;
  font-size: 1.5em;
}

.pagina2 main section:nth-of-type(3) article p{
  padding: 0em 0em 0.5em 0em;
  margin: 0;
}

.pagina2 main section:nth-of-type(3) article button{
  background-color:var(--background-highlight);
  border: 0.2em solid;
  border-color:var(--secondary-color);
  color:var(--secondary-color);
  padding: 0.6em;
  text-align: center;
  font-size: 1em;
  display: block;
  border-radius: 2em;
  width: auto;
  flex-grow: 0;
}

.pagina2 main section:nth-of-type(3) article button:hover{
  background-color:var(--secondary-color);
  color: var(--main-color);
  transition: 1s;
  transform: scale(1.1);
}

.pagina2 main section:nth-of-type(3) article button:focus{
  background-color:var(--secondary-color);
  color: var(--main-color);
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .pagina2 main section:nth-of-type(3){
    padding-left: 7vw;
    padding-right: 7vw;
  }

  .pagina2 main section:nth-of-type(3) article{
    width: 40%;
  }
}


/* ------------------------------- Styling voor MAIN > SECTION 4 (elektrische modellen) ------------------------------- */


.pagina2 section:nth-of-type(4){
  background-color: var(--main-color);
  padding: 2em 1em 2em 1em;
}

.pagina2 section:nth-of-type(4) h2{
  text-align: center;
  font-weight: lighter;
  padding-bottom: 1em;
}

.pagina2 section:nth-of-type(4) img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagina2 section:nth-of-type(4) ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagina2 section:nth-of-type(4) ul li{
  padding: 1em;
  flex-grow: 1;
  flex-basis: 100%;
}

.pagina2 section:nth-of-type(4) ul li h3{
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

.pagina2 section:nth-of-type(4) ul li a{
  color: var(--secondary-color);
  font-size: 1.2em;
  display: block;
}

.pagina2 section:nth-of-type(4) ul li p{
  font-size: 1.2em;
}

.pagina2 section:nth-of-type(4) ul li a:hover{
  color: var(--blue);
  transition: 1s;
  text-decoration: none;
}

.pagina2 section:nth-of-type(4) ul li a:focus{
  color: var(--blue);
}

.pagina2 section:nth-of-type(4) ul li p:nth-of-type(2){
  padding-bottom: 1em;
  padding-top: 1em;
  font-weight: bold;
}

.pagina2 section:nth-of-type(4) ul li button{
  background-color:var(--main-color);
  border: 0.2em solid;
  border-color:var(--secondary-color);
  color:var(--secondary-color);
  padding: 0.6em;
  text-align: center;
  font-size: 1em;
  display: block;
  border-radius: 2em;
  margin-bottom: 1em;
}

.pagina2 section:nth-of-type(4) ul li button:hover{
  background-color:var(--secondary-color);
  color: var(--main-color);
  transform: scale(1.1);
  transition: 1s;
}

.pagina2 section:nth-of-type(4) ul li button:focus{
  background-color:var(--secondary-color);
  color: var(--main-color);
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .pagina2 section:nth-of-type(4) ul li{
    flex-basis: 45%;
  }

  .pagina2 section:nth-of-type(4){
    padding-left: 7vw;
    padding-right: 7vw;
  }
}
